<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript"> google.load("jquery", "1.4.2"); </script>
<script type="text/javascript"> google.load("jqueryui", "1.8.6"); </script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> Treasure Map </title>

<!-- CSS Files -->
<%= stylesheet_link_tag :all %>
<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
<%= stylesheet_link_tag 'home' %>

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="jit-yc.js"></script>

<!-- Example File -->
<%= javascript_include_tag "ArtistGraph" %>
<%= javascript_include_tag "jit-yc" %>
<%= javascript_include_tag "soundmanager2-nodebug-jsmin" %>
<%= javascript_include_tag "processing.min" %>
<%= javascript_include_tag "init" %>



</head>

<body>
<div class="container">
  <%= render 'layouts/header' %>
  <section class='round'>
    <%= yield %>
  </section>
</div>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3675615-17']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type =
'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
